@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap');
body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.grand-titre{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 47px;
    padding-top: 1rem;
    
    background-color: white;
}
.recherche{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: #f3f3f3;
    font-weight: bold;
    width: 100%;
}
.icon-rch{
margin: 1rem;
}
h1{
    margin: 0;
}
.photos{
    width: 96%;
    height: 250px;
    object-fit: cover;
    box-shadow: 4px 5px 11px gray;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}
.tata{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
}
.paragraphe{
    text-align: center;
    font-size: 18px;
    background-color: #fafafa;
    width: 100%;
}
.btn{
    cursor: pointer;
    padding: 11px 19px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 0;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    font-size: 18px; 
    transform: scale(1);
    transition-property: transform;
    transition-duration: .4s;   
}
.btn:hover{
    transform: scale(0.95);
}
.fonctionnement{
    font-size: 18px;
    width: 100%;
}
.boutons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-right: 15px;
}
.titre-fonction{
    position: relative;
    margin-left: 1%;
}
.bouton{
    padding: 1.5rem;
    border-radius: 20px;
    background-color: #f3f3f3;
    width: 93%;
    box-shadow: 4px 5px 11px gray;
    
    position: relative;
    margin-bottom: 33px;
}
.bouton:hover{
    background-color:rgba(184, 154, 221, 0.664) ;
    box-shadow: 3px 3px 20px gray;
}
.rond{
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    left: -14px;
    top: 21px;
    border-radius: 25px;
    color: white;
    background-color:#9356DC ;
    position: absolute;
}
.icon1{
    margin-right: 15px;
    color: gray;
}
.icon1:hover{
    color: #9356DC;
}
.box{
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}
.image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    
}
.titre2{
    width: 98%;
    font-size: 17px;
    margin-left: 2%;
}
.end{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 62, 62);
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.lien{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.i-end{
    margin-right: 18px;
}
.i-end1{
    margin-right: 10px;
}
.footer-end{
    margin: 20px;
}
.titre-footer{
    color: white;
    font-family: 'Shrikhand', cursive;
}

.blabla{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 96%;
    bottom: 10px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    box-shadow: 4px 5px 11px gray;
}
.box-image{
    display: flex;
    flex-direction: column;
}
.name{
    margin-left: 20px;
}
.coeur{
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    opacity: 1;
    color: black;
    transition: 0.3s;

}

.coeur:hover{
    transition: 0.8s;
    opacity: 0;
    
    
}

.coeur2{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 45px;
    background: linear-gradient(0deg, #9356DC 0%, #ff79DA 80%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
}
.coeur3{
    cursor: pointer;
    font-size: 27px;
    position: absolute;
    right: 44px;
    top: 0px;
    opacity: -1;
    background: linear-gradient(0deg, #9356DC 0%, #ff79DA 80%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
}
.coeur3:hover{
    transition: 0.8s;
    opacity: 1;
}

.coeur2:hover{
    transition:  0.8s;
    opacity: 1;
}


.clignotte{
    position: absolute;
    top: 17px;
    right: 50px;
    padding: 10px;
    background-color:#99E2D0 ;
    color: #358f7b;
    animation-duration: 1.5s;
    animation-name: clignote;
    animation-iteration-count: infinite;
    transition: none;
}
@keyframes clignote {
        0% { opacity: 1;}
        50% { opacity: 0;}
        100% {opacity: 1; }
}
/*#99E2D0*/
.anime{
    position: absolute;
    border:30px solid #f3f3f3;
    border-top:30px solid #9356DC ;
    border-bottom:30px solid #9356DC ;
    border-left:30px solid #FF79DA ;
    border-right:30px solid #FF79DA ;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    animation: spin 4s linear ;
    opacity: 0;
    z-index: 2;
    background-color: transparent;
}
@keyframes spin{
    0%{ transform: rotate(0deg); opacity: 1;}
    100%{transform: rotate(360deg); opacity: 0;}
}
.pati{
    position: absolute;
    color: #99E2D0;
    font-size: 45px;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 500;
    width:  230px;
    height:60px;
    opacity: 0;
    animation: tourne 4s linear ;
}
@keyframes tourne {
    0%{  opacity: 1;}
    25%{ opacity: 0.7;}
    50%{opacity: 1;}
    100%{ opacity: 0;}
}
/*#9356DC #FF79DA*/ 

/* .toto{
    width: 100%;
}
.tata{
    align-items: center;
} */ 
.tete-menu{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;

}
.fa-arrow-left{
    display: block;
    color: black;
    margin-left: 25px;
    font-size: 25px;
}
.grand-titrem{
    width: 100%;
    display: flex;
    justify-content: center;

}
.toto{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.bloc-plein{
    width: 100%;
    
    background-color: #f2f2f2;
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    position: relative;
    margin-top: -30px;
}
.titre-resto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-right: 15px;
    font-family: 'Shrikhand', cursive;
    margin-bottom: 25px;
    margin-left: 13px;
}

.sous-titre{
    margin-left: 15px;
    font: message-box;
    font-size: 18px;
}
.change{
    margin-bottom: 8px;
}
.trait{
    width: 30px;
    border: 2px solid #99E2D0;
    margin-left: 15px;
}
.small-bloc{
    cursor: pointer;
    position: relative;
    width: 93%;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
    transition:1s ease-in-out;
    margin: 10px 1px 12px 14px;
    animation: apparai 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
.small-bloc:hover .roule{
    margin-right: 50px;
    transition: 0.8s;
}


@keyframes apparai{
    from {
        margin-top: 100%;
        width: 200%;
        opacity: 0;
      }
      
    
      to {
        margin-top: 10px;
        width: 93%;
        opacity: 1;
      }
}



.roule{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 50px;
    height: 67px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: -50px;
    top: 0;
    opacity: 1;
    transition: .8s;
}

.argument{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.marge{
    margin: 5px;
    transition: 0.8s;
}
.small-bloc:hover .marge{
    margin-right: 50px;
    transition: 0.8s;
}
.marge1{
    margin:1px 0 ;
    font-size: 15px;
    font: message-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.irond{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: rotate(180deg);
    transition: 0.8s;
    font-size: 25px;
}
.small-bloc:hover .irond{
    transform: rotate(360deg);
    transition: 0.8s;
}

.btn1{
    cursor: pointer;
    padding: 11px 19px;
    border-radius: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 0;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    font-size: 18px;
    transition-property: transform;
    transition-duration: .3s;   
}
.btn1:hover{
    transform: scale(0.95);
    transition: .1s;
}
.commande{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding-bottom: 75px;
}
.titi{
    font-size: 25px;
}
@media screen and (min-width: 1199px){
    .boutons{
        flex-direction: row;
    }
    .bouton{
        width: 20%;
        margin-right: 97px;
    }
    .titre-fonction{
        display: flex;
        justify-content: center;
    }
    .titre2{
        display: flex;
        justify-content: center;
    }
    .box{
        width: 82%;
        margin-left: 9%;
        border-top-left-radius: 265px;
        border-top-right-radius: 265px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        
    }
    .box-image{
        flex-direction: row;
        flex-wrap: wrap;

    }
    .image{
        width: 50%;
    }
    .footer-end{
        margin-left: 10%;
    }
    .small-bloc{
        width: 30%;
    }
    .blocpleinmenu{
        display: flex;
        justify-content: center;
    }
    .portion{
        width: 30%;
    }
    .small-bloc{
        width: 95%;
    }
    .bloc-plein{
        width: 80%;
        margin-left: 10%;
    }
    .titre-resto{
        margin-left: 54px;
    }
}